[submodule "rocksdb"]
	path = rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "snappy"]
	path = snappy
	url = https://github.com/google/snappy.git
[submodule "lz4"]
	path = lz4
	url = https://github.com/lz4/lz4.git
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
